@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


fieldset, label {
    margin: 0;
    padding: 0;

}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 0px;
}

/****** Style Star Rating Widget *****/

.ratingform {
    margin-left:104px;

}


.comment {
    padding-left:60px;
    padding-top:35px;
    position:absolute;
}

.commentbox {
    position:absolute;
    margin-top:70px;
    padding-left:65px;
    width:300px;
    height:200px;
}

#reset {
    background-color: #aaafb7;
    border: none;
    color: white;
    padding:10px 20px;
    text-align:center;
    display:inline-block;
    font-size:12px;
}

#submit {
    background-color: #bc347b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

.buttons {
    padding-top:10px;
    padding-bottom:20px;
    margin-left:364px;
}


#rating1 {
    border: none;
    float:left;
    position:relative;
    padding-right:10px;
}
#rating2 {
    border: none;
    float: left;
    position: relative;
    padding-right: 10px;
}
#rating3 {
    border: none;
    float: left;
    position: relative;
    padding-right: 10px;
}




    /* RATING 1 */
    #rating1 > input {
        display: none;
    }

    #rating1 > label:before {
        margin: 5px;
        font-size: 1.50em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    #rating1 > .half:before {
        content: "\f089";
        position: absolute;
    }

    #rating1 > label {
        color: #ddd;
        float: right;
    }

    /* RATING 2 */
    #rating2 > input {
        display: none;
    }

    #rating2 > label:before {
        margin: 5px;
        font-size: 1.50em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    #rating2 > .half:before {
        content: "\f089";
        position: absolute;
    }

    #rating2 > label {
        color: #ddd;
        float: right;
    }
    /* RATING 3 */
    #rating3 > input {
        display: none;
    }

    #rating3 > label:before {
        margin: 5px;
        font-size: 1.50em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    #rating3 > .half:before {
        content: "\f089";
        position: absolute;
    }

    #rating3 > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/
    


/* RATING 1 */

            #rating1 > input:checked ~ label, /* show gold star when clicked */
            #rating1:not(:checked) > label:hover, /* hover current star */
            #rating1:not(:checked) > label:hover ~ label {
                color: #0faf65;
            }
                /* hover previous stars in list */

                #rating1 > input:checked + label:hover, /* hover current star when changing rating */
                #rating1 > input:checked ~ label:hover,
                #rating1 > label:hover ~ input:checked ~ label, /* lighten current selection */
                #rating1 > input:checked ~ label:hover ~ label {
                    color: #0faf65;
                }
/* RATING 2 */

                #rating2 > input:checked ~ label, /* show gold star when clicked */
                #rating2:not(:checked) > label:hover, /* hover current star */
                #rating2:not(:checked) > label:hover ~ label {
                    color: #0faf65;
                }
                    /* hover previous stars in list */

                    #rating2 > input:checked + label:hover, /* hover current star when changing rating */
                    #rating2 > input:checked ~ label:hover,
                    #rating2 > label:hover ~ input:checked ~ label, /* lighten current selection */
                    #rating2 > input:checked ~ label:hover ~ label {
                        color: #0faf65;
                    }
/* RATING 3 */

                    #rating3 > input:checked ~ label, /* show gold star when clicked */
                    #rating3:not(:checked) > label:hover, /* hover current star */
                    #rating3:not(:checked) > label:hover ~ label {
                        color: #0faf65;
                    }
                        /* hover previous stars in list */

                        #rating3 > input:checked + label:hover, /* hover current star when changing rating */
                        #rating3 > input:checked ~ label:hover,
                        #rating3 > label:hover ~ input:checked ~ label, /* lighten current selection */
                        #rating3 > input:checked ~ label:hover ~ label {
                            color: #0faf65;
                        }

.verticalLine {
    margin-left: 450px;
    height: 200px;
    opacity: 0.75;
    margin-top: -150px;
    border-left: solid 1px #808080;
    margin-bottom:30px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#ratingnum {
    text-align:center;
    color:white;
    position:absolute;
    top:41.5%;
    left:50%;
    transform: translate(-50%,50%);
}