@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMA Interns: Data Marketplace</h1>
    <p class="lead">Members: Amit Naik, Amy Pandit, Benjamin Turner</p>
    <p><a href="~/Home/TableList" class="btn btn-primary btn-lg">Click here to enter application. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Header #1</h2>
        <p>
            Description
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Header #2</h2>
        <p>Description</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Header #3</h2>
        <p>Description</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>