
@{
    ViewBag.Title = "Reviews";
}
<link href="~/Content/Stars.css" rel="stylesheet" type="text/css" />
<center><h3><b>Rating and Feedback</b></h3></center>

<center><h4>Thank you for using our Data Sets / Tables, Please rate your experience.</h4></center>
<br /><br />

<!--TODO: FILL IN FORM ACTION -->
<div class="ratingform">
      <form action ="" method="post">
          <b>Data Sets</b>
          <fieldset id="rating1">
              <input type="radio" id="star5" name="rating1" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="star4half" name="rating1" value="4 and a half" /><label class="half" for="star4half" title="Awesome - 4.5 stars"></label>
              <input type="radio" id="star4" name="rating1" value="4" /><label class="full" for="star4" title="Good - 4 stars"></label>
              <input type="radio" id="star3half" name="rating1" value="3 and a half" /><label class="half" for="star3half" title="Good - 3.5 stars"></label>
              <input type="radio" id="star3" name="rating1" value="3" /><label class="full" for="star3" title="OK - 3 stars"></label>
              <input type="radio" id="star2half" name="rating1" value="2 and a half" /><label class="half" for="star2half" title="OK - 2.5 stars"></label>
              <input type="radio" id="star2" name="rating1" value="2" /><label class="full" for="star2" title="Bad - 2 stars"></label>
              <input type="radio" id="star1half" name="rating1" value="1 and a half" /><label class="half" for="star1half" title="Bad - 1.5 stars"></label>
              <input type="radio" id="star1" name="rating1" value="1" /><label class="full" for="star1" title="Terrible - 1 star"></label>
              <input type="radio" id="starhalf" name="rating1" value="half" /><label class="half" for="starhalf" title="Terrible - 0.5 stars"></label>
          </fieldset><br /><br />

          <b>Content / Information</b>
  
          <fieldset id="rating2">
              <input type="radio" id="star5" name="rating2" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="star4half" name="rating2" value="4 and a half" /><label class="half" for="star4half" title="Awesome - 4.5 stars"></label>
              <input type="radio" id="star4" name="rating2" value="4" /><label class="full" for="star4" title="Good - 4 stars"></label>
              <input type="radio" id="star3half" name="rating2" value="3 and a half" /><label class="half" for="star3half" title="Good - 3.5 stars"></label>
              <input type="radio" id="star3" name="rating2" value="3" /><label class="full" for="star3" title="OK - 3 stars"></label>
              <input type="radio" id="star2half" name="rating2" value="2 and a half" /><label class="half" for="star2half" title="OK - 2.5 stars"></label>
              <input type="radio" id="star2" name="rating2" value="2" /><label class="full" for="star2" title="Bad - 2 stars"></label>
              <input type="radio" id="star1half" name="rating2" value="1 and a half" /><label class="half" for="star1half" title="Bad - 1.5 stars"></label>
              <input type="radio" id="star1" name="rating2" value="1" /><label class="full" for="star1" title="Terrible - 1 star"></label>
              <input type="radio" id="starhalf" name="rating2" value="half" /><label class="half" for="starhalf" title="Terrible - 0.5 stars"></label>
          </fieldset> <br /><br />

          <b>Ease of Use</b>

          <fieldset id="rating3">
              <input type="radio" id="star5" name="rating3" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="star4half" name="rating3" value="4 and a half" /><label class="half" for="star4half" title="Awesome - 4.5 stars"></label>
              <input type="radio" id="star4" name="rating3" value="4" /><label class="full" for="star4" title="Good - 4 stars"></label>
              <input type="radio" id="star3half" name="rating3" value="3 and a half" /><label class="half" for="star3half" title="Good - 3.5 stars"></label>
              <input type="radio" id="star3" name="rating3" value="3" /><label class="full" for="star3" title="OK - 3 stars"></label>
              <input type="radio" id="star2half" name="rating3" value="2 and a half" /><label class="half" for="star2half" title="OK - 2.5 stars"></label>
              <input type="radio" id="star2" name="rating3" value="2" /><label class="full" for="star2" title="Bad - 2 stars"></label>
              <input type="radio" id="star1half" name="rating3" value="1 and a half" /><label class="half" for="star1half" title="Bad - 1.5 stars"></label>
              <input type="radio" id="star1" name="rating3" value="1" /><label class="full" for="star1" title="Terrible - 1 star"></label>
              <input type="radio" id="starhalf" name="rating3" value="half" /><label class="half" for="starhalf" title="Terrible - 0.5 stars"></label>
          </fieldset> <br />

          <div class="verticalLine">
              <div class="comment">
                  <b>Comments</b> (400 characters only)
                  </div>
                  <!-- comment box code starts here -->
              <div class="commentbox">
                    <textarea rows="4" cols="100" maxlength="400"></textarea>
                  </div>
                  <!-- end of comment section -->
          </div>

    <div class="buttons">
    <input type="reset" name="reset" value="CANCEL" id="reset"/>
    <input type="submit" name="submit" value="SUBMIT" id="submit"/>
        </div>

      </form> <!-- END OF FORM -->
    </div>
